@use 'assets/scss/abstracts';
@forward 'node_modules/bootstrap/scss/bootstrap';
@forward 'node_modules/bootstrap-icons/font/bootstrap-icons';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: abstracts.$font-size;
  font-family: abstracts.$font-family-base;
}
